/* Base styles */
body{
	background-color: #2d3748;
	font-size: 20px;
	font-family: 'Cabin', sans-serif;
}
		
h1{
	color: white;
}
		
h2{
	color: white;
}

h4{
	color: white;
}
		
nav{
	color: white;
}
		
a{
	color: white;
	text-decoration: none;
}

#imgs{
	border-style:solid;
}

ol{
	color: white;
}
		
li{
	text-decoration: none;
}
